<%= form_for :user, url: '/users' do |f| %>
    <h2>Register</h2>

    <div class="form-group">
      <p><label class="floatLabel">Name</label></p>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <p><label class="floatLabel">Email</label></p>
      <%= f.text_field :email %>
    </div>

    <div class="form-group">
      <p><label class="floatLabel">Password</label></p>
      <%= f.password_field :password %>
      <span>Enter a password longer than 5 characters</span>
    </div>

    <div class="form-group">
      <p><label class="floatLabel">Confirm Password</label></p>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit "Register", class: 'btn btn-primary' %>
  <% end %>