<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <br/>
    <br/>
    <% if current_user %>
      <div class="col-sm-4">
      <h3>Post a Review</h3>
        <%= form_for [@product, @review] do |f| %>
          <div class="form-group">
            <%= f.text_area :description, size: '40x7', placeholder: 'Thoughts about this product' %>  
            <br/>
            <br/>
            <%= f.label :rating %> 
            <br/>
            <%= f.select :rating, [1, 2, 3, 4, 5], prompt: '--- select one ---' %>
            <br/>
            <br/>
            <%= f.submit 'Post Review', class: 'btn btn-primary btn-sm' %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="col-sm-8">
      <dl class="dl-horizontal">
        <dt><h3>Reviews</h3><dt>
        <dd></dd>
        <% if @product.reviews.count == 0 %>
          <dt>No reviews</dt>
        <% end %>
        <% @product.reviews.reverse_each do |review| %>
          <dt>User</dt>
          <dd><%= review.user.name %></dd>
          <dt>Description</dt>
          <dd><%= review.description %></dd>
          <dt>Rating</dt>
          <dd>
            <% for i in 1..review.rating do %>
              ⭐ ️
            <% end %>
            <% for i in 1..(5 - review.rating) do %>
              ★ ️
            <% end %>
          </dd>
          <dt>Posted at</dt>
          <dd>
          <%= review.created_at %>
          <% if current_user === review.user %>
            <%= link_to fa_icon('trash'), review_path(review), 
            class: 'btn btn-sm btn-danger', method: :delete, 
            data: { confirm: "Are you sure?" } %>
          <% end %>
          </dd>
          <br/>
          <% end %>
      </dl>
    </div>
  </article>
</section>
